# Android / Gradle
.gradle/
**/build/
build/

# IntelliJ / Android Studio
.idea/
*.iml

# Local configs
local.properties

# Kotlin
.kotlin/

# Native builds
.externalNativeBuild/
.cxx/

# Operating system
.DS_Store

app/release/
